# Maven build output
/target/

# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# macOS system files
.DS_Store
src/main/.DS_Store
src/test/.DS_Store
src/main/java/.DS_Store
src/test/java/.DS_Store

# Test APKs
src/test/java/resources/ApiDemos-debug.apk

# Logs and reports
*.log

# Ignore generated sources
src/main/resources/
src/test/java/resources/

# Ignore class files
*.class 